
        <app-navbar></app-navbar>
        <!-- <app-buttons></app-buttons> -->
        <div class="card car text-bg-dark">
          <img src="../assets/images/rvr3.jpg" class="card-img" alt="rvr">
          <div class="mask"></div>
          <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center">
            <h1 class="card-title text-center">WELCOME TO <br> <br> <span class="dif">COMPUTER SCIENCE & BUSINESS SYSTEMS</span> </h1>
            <p>The programme along with an exposure to exciting cutting edge technologies, also offers a reorientation to </p>
            <p class="card-text">ethics and life values, with an experiential learning approach.</p>
          </div>
        </div>
        <app-cards class="grad"></app-cards>
        <app-carosal></app-carosal>
        <!-- <app-stepper></app-stepper> -->
        <app-footer></app-footer>